{% extends 'base/base.html' %}
{% block content %}
<br>
<h2>Registro ha actualizar con el Folio {{ ID.id }}</h2>
<form action="{% url 'editar_reporte' ID.id %}" method="GET">
	{% csrf_token %}

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<label >nombre_establecimiento</label>
				<input class="form-control" value="{{ nombre_establecimiento.nombre_establecimiento }}" disabled="disabled" type="text" name="nombre_establecimiento">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<label >direccion</label>
				<input class="form-control" value="{{ direccion.direccion }}" disabled="disabled" type="text" name="direccion">
			</div>
		</div>
	</div>	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<label >denominacion</label>
				<input class="form-control" value="{{ denominacion.denominacion }}" disabled="disabled" type="text" name="denominacion">
			</div>
		</div>
	</div><div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="form-group">
				<label >horario_funcionamiento</label>
				<input class="form-control" value="{{ horario_funcionamiento.horario_funcionamiento }}" disabled="disabled" type="text" name="horario_funcionamiento">
			</div>
		</div>
	</div>
	</div>

	
</form>
{% block javascript %}


{% endblock %}
{% endblock %}